body{
	background-color: #000000;
	background-image:url('/image/binary4.png');
	background-repeat:repeat;
}
div{
	border:5px #000000 solid;
	border-radius:25px;
	background-color: #000000;
	text-align: center;
	color: #FFFFFF;
	width: 75%;
	margin: 8px auto;
	padding: 3px 5px;
}
h1{
	font-family: "Arial Black";
	color: #FFFFFF;
	font-size: 2em;
	line-height: normal;
	margin: 0; 
  	padding: 10px; 
}
a{
	color: #006D00;
	text-decoration: none;
}
#links{
	font-family: "Arial Black";
	color: #FFFFFF;
	font-weight; bold;
}
#title{
	width: 50%;
	margin: 10px auto;
}