body{
	background-color: #000000;
	background-image:url('/image/binary4.png');
	background-repeat:repeat;
}
div{
	border:5px #000000 solid;
	border-radius:25px;
	background-color: #000000;
	text-align: center;
	color: #FFFFFF;
	width: 75%;
	margin: 8px auto;
	padding: 3px 5px;
}
h1{
	font-family: "Arial Black";
	color: #FFFFFF;
	font-size: 4em;
	line-height: normal;
	margin: 0; 
  	padding: 10px; 
}
h3{
	font-family: "Arial Black";
	color: #008E00;
	font-size: 1.5em;
}
a:visited, a:link{
	color: #008E00;
	text-decoration: none;
}
a:hover,  a:active{
	color: #FFFFFF;
	text-decoration: none;
}
.green{
	color: #008E00;
}
.nav{
	padding: 0px 25px;
}
#links{
	font-family: "Arial Black";
	color: #FFFFFF;
	font-weight; bold;
}
#title{
	width: 50%;
	margin: 10px auto;
}