body{
	background-color: #000000;
	background-image:url('/image/binary4.png');
	background-repeat:repeat;
}
div{
	border:5px #000000 solid;
	border-radius:25px;
	background-color: #000000;
	font-family: "Arial";
	text-align: center;
	color: #E2E2E2;
	width: 60%;
	margin: 8px auto;
}
h1{
	font-family: "Arial Black";
	color: #FFFFFF;
	font-size: 2.5em;
	line-height: normal;
	margin: 0; 
	padding-top: 20px;
	padding-bottom: 0px;
}
h3{
	font-family: "Arial";
	color: #008E00;
	font-size: 1.5em;
	line-height: normal;
	margin: 0; 
	padding: 0;
}
p{
	text-align: left;
}
a:visited, a:link{
	color: #008E00;
	text-decoration: none;
}
a:hover,  a:active{
	color: #FFFFFF;
	text-decoration: none;
}
.half{
	width: 50%;
	margin: 10px auto;
}
.green{
	color: #008E00;
}
.blue{
	color: #5C71C5;
}
.orange{
	color: #FF8B5C;
}
.nav{
	padding: 0px 25px;
}
.linebefore{
	color: #707070;
	background-color: #707070;
	border-color: #707070;
	height: 1px;
	width: 10%;
	margin-right: 5px;
	margin-top: 11px;
	float: left;
}
.lineafter{
	color: #707070;
	background-color: #707070;
	border-color: #707070;
	height: 1px;
	width: 60%;
	margin-left: 5px;
	margin-top: 11px;
	float: right;
}
.blockheader{
	color: #008E00;
	width: 20%;
	font-size: 1.5em;
	float: left;
}
.projecthead{
	font-family: "Arial Black";
	color: #006D00;
	line-height: normal;
	margin: 0; 
	padding-top: 0;
}
#credit{
	color: #FFFFFF;
	font-size: 0.75em;
	opacity: 0.5;
	font-family: "Arial";
	float: right;
}
#iconcredit{
	color: #FFFFFF;
	font-size: 0.65em;
	opacity: 0.3;
	font-family: "Arial";
	float: right;
}
#links{
	font-family: "Arial Black";
	color: #FFFFFF;
	font-weight; bold;
}
#mainpic{
	width: 190px;
	height: 190px;
	float: right;
}
#byline{
	color: #006D00;
}
#body{
	padding: 20px;
}
