@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono|Ubuntu);

html{
  margin:0;
  padding:0;
}
body{
	background-color: #000000;
	background-image:url('/image/binary4.png');
	background-repeat:repeat;
    margin:0;
    padding:0;
}
div{
	/*border:5px #000000 solid;
	border-radius:25px;
    align: left;*/
	background-color: #000000;
	font-family: 'Ubuntu Mono';
	text-align: center;
	color: #E2E2E2;
	/*width: 100%;
	margin: 8px auto;*/
}
h1{
	font-family: 'Ubuntu';
	color: #FFFFFF;
	font-size: 2.5em;
	line-height: normal;
	margin: 0; 
	padding-top: 20px;
	padding-bottom: 0px;
}
h3{
	font-family: 'Ubuntu';
	color: #008E00;
	font-size: 1.5em;
	line-height: normal;
	margin: 0; 
	padding: 0;
}
p{
	text-align: left;
}
a:visited, a:link{
	color: #008E00;
	text-decoration: none;
}
a:hover,  a:active{
	color: #FFFFFF;
	text-decoration: none;
}
.half{
	width: 50%;
	margin: 10px auto;
}
.green{
	color: #008E00;
}
.blue{
	color: #5C71C5;
}
.orange{
	color: #FF8B5C;
}
.nav{
	padding: 0px 25px;
}
.linebefore{
	color: #707070;
	background-color: #707070;
	border-color: #707070;
	height: 1px;
	width: 10%;
	margin-right: 5px;
	margin-top: 11px;
	float: left;
}
.lineafter{
	color: #707070;
	background-color: #707070;
	border-color: #707070;
	height: 1px;
	width: 60%;
	margin-left: 5px;
	margin-top: 11px;
	float: right;
}
.blockheader{
	color: #008E00;
	width: 20%;
	font-size: 1.5em;
	font-weight: bold;
	float: left;
}
.projecthead{
	font-family: "Arial Black";
	color: #006D00;
	line-height: normal;
	margin: 0; 
	padding-top: 0;
}
.scroll{
    width: 90%;
    height: 160px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.scroll a {
    display: inline;
}
.scroll img{
    height: 150px;
}
#links{
	font-family: 'Ubuntu Mono';
	color: #FFFFFF;
	font-weight; bold;
}
#mainpic{
	width: 190px;
	height: 190px;
	float: right;
}
#byline{
	color: #006D00;
}
#body{
	padding: 20px;
    margin: 20px;
}
#typed{
	color: #006D00;
    font-family: 'Ubuntu Mono';
    font-size: 1.75em;
}
#me{
	float: left;
	
	max-width:100%
}

/* code for animated blinking cursor */
.typed-cursor{
opacity: 1;
font-weight: 100;
color: #006D00;
-webkit-animation: blink 0.7s infinite;
-moz-animation: blink 0.7s infinite;
-ms-animation: blink 0.7s infinite;
-o-animation: blink 0.7s infinite;
animation: blink 0.7s infinite;
    }
@-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-ms-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-o-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
