body{
	background-image:url('/image/px_by_Gre3g.png');
	background-repeat:repeat;
}
div{
	border:2px solid;
	border-radius:25px;
	background-color: #202020;}
h1{
	text-align: center;
	font-family: "Arial Black";
	color: #FFFFFF;
	font-size: 4em;
	line-height: normal;
	margin: 0; 
  	padding: 10px; 
}