<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.name }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
		  <li><a href="mailto:{{ site.email2 }}">{{ site.email2 }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li class="contact">
            <a href="https://github.com/{{ site.github_username }}">
              <span class="icon  icon--github">
                <img src ="/image/Icons/github.png"></img>
              </span>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li class="contact">
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="icon  icon--twitter">
                <img src ="/image/Icons/twitter.png"></img>
			  </span>
            </a>
          </li>
          {% endif %}
		  
		  {% if site.linkedin_username %}
          <li class="contact">
            <a href="https://www.linkedin.com/in/{{ site.twitter_username }}">
              <span class="icon  icon--linkedin">
                <img src ="/image/Icons/linkedin.png"></img>
			  </span>
            </a>
          </li>
          {% endif %}
		  
		  {% if site.googleplus_username %}
          <li class="contact">
            <a href="https://plus.google.com/+{{ site.googleplus_username }}">
              <span class="icon  icon--googleplus">
                <img src ="/image/Icons/googleplus.png"></img>
			  </span>
            </a>
          </li>
          {% endif %}
		  
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>
    
  </div>

</footer>
